@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply w-full px-4 py-2 text-gray-800 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200 ease-in-out;
}
textarea {
  @apply w-full px-4 py-2 text-gray-800 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200 ease-in-out;
}

.new-service-component input {
  @apply w-full px-4 py-2 text-gray-800 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200 ease-in-out;
}

button,
button.primary {
  @apply px-6 py-3 bg-blue-600 text-white font-semibold text-base rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 active:bg-blue-800 transition-all duration-200 ease-in-out w-full sm:w-auto;
}

button.secondary {
  @apply px-6 py-3
      bg-gray-200 text-gray-800
      font-semibold text-base
      rounded-md
      shadow-md
      hover:bg-gray-300
      focus:outline-none focus:ring-2 focus:ring-gray-400
      active:bg-gray-400
      transition-all duration-200 ease-in-out
      w-full sm:w-auto;
}

button.outline {
  @apply px-6 py-3
      bg-transparent
      border-2 border-blue-600
      text-blue-600
      font-semibold text-base
      rounded-md
      shadow-md
      hover:bg-blue-600 hover:text-white
      focus:outline-none focus:ring-2 focus:ring-blue-500
      active:bg-blue-700
      transition-all duration-200 ease-in-out
      w-full sm:w-auto;
}

button.success {
  @apply px-6 py-3
      bg-green-600 text-white
      font-semibold text-base
      rounded-md
      shadow-md
      hover:bg-green-700
      focus:outline-none focus:ring-2 focus:ring-green-500
      active:bg-green-800
      transition-all duration-200 ease-in-out
      w-full sm:w-auto;
}

button.danger {
  @apply px-6 py-3
      bg-red-600 text-white
      font-semibold text-base
      rounded-md
      shadow-md
      hover:bg-red-700
      focus:outline-none focus:ring-2 focus:ring-red-500
      active:bg-red-800
      transition-all duration-200 ease-in-out
      w-full sm:w-auto;
}
.service-args {
  @apply resize w-full;
  field-sizing: content;
}
